:host{
  ::ng-deep .mat-drawer-container{
    min-height: 100vh;
    height: auto;
    overflow: auto;

    .mat-drawer-content {
      background-color: #f8f8ff;
      min-height: 100vh;
    }

    .sidebar {
      width: 20rem;
      background-color: #eaf1ff;
    }
  }
}
