<div class="record">
  <div class="title">
    <h3>Record page</h3>
  </div>
  <div class="hr"></div>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="addNewEvent()">Add new record</button>
    <button mat-raised-button color="primary" (click)="addNewCategory()">Add new category</button>
  </div>

  <div class="main-content" fxLayoutAlign="center">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{ i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name of category</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="capacity">
        <mat-header-cell *matHeaderCellDef> Capacity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.capacity}} </mat-cell>
      </ng-container>

        <ng-container matColumnDef="button" class="button">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: end">
          <button mat-button (click)="editCategory(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="deleteCategory(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
