::ng-deep .mat-card-content {
  small {
    background-color: red;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    color: white;
    font-weight: 400;
  }
}

::ng-deep .mat-card-actions {
  padding-left: 0.5rem;
  padding-top: 1rem;
}

::ng-deep .mat-card-footer {
  a {
    text-decoration: none;
  }
}
